.home {
    height: 100vh;
    color: white;
    position: relative;


    .content-wrapper {
        position: absolute;
        background: var(--ui-white);
        width: calc(100% - 150px);
        top: 100px;
        left: 120px;
        height: 85%;
        border-radius: 10px;
        color: black;
        padding: 20px;
    }
}